* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";

    padding: 48px 0;
    background: rgb(164 118 115);
    color: rgb(39 39 39);
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: 1098px;
    height: 1474px;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 100px;
    background: #fff;
}

.content-top {
    text-align: center;
}

.heading-lv1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
}

.heading-lv2 {
    margin-top: 28px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(39 39 39);
    font-size: 1.9rem;
    font-weight: 700;
}

.row {
    display: flex;
    align-items: center;
}

.heading-lv3 {
    flex: 1;
    margin: 24px 25px 24px 0;
}

.heading-lv3,
.date {
    font-size: 1.7rem;
    font-weight: 700;
}

.job-list,
.desc {
    list-style: disc;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.66;
}

.da {
    text-align: justify;
}

.d-1,
.d-2 {
    display: inline-block;
}

.d {
    padding-right: 100%;
}

/* Header */
.header {
    background: #4159d4;
}

.navbar-item,
.navbar-link {
    display: inline-block;
}

.navbar-item {
    margin-right: -4px;
}

.navbar-link {
    padding: 30px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
}

.navbar-item-active {
    background: #fff;
}

.navbar-item-active .navbar-link {
    background: #fff;
    color: rgb(39 39 39);
    font-weight: 700;
}

/* Form */
.contact-heading {
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 600;
}

button {
    background: transparent;
    cursor: pointer;
}

button,
input {
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
}

.contact-form {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px;
    border-radius: 4px;
    background: #fff;
}

.form-group {
    margin: 24px 0;
}

.form-block {
    display: block;
}

label {
    font-size: 1.4rem;
    font-weight: 500;
}

.form-input {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-gender {
    margin-bottom: 12px;
}

.form-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.avatar-label {
    margin-top: 12px;
}

.form-check {
    display: block;
    margin-top: 12px;
    font-weight: 400;
}

.form-submit {
    padding: 14px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(164, 118, 115, 0.9);
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}
